CREATE DATABASE qlBanDienThoai;

go

USE qlBanDienThoai;

CREATE TABLE LOAISP (
    maLoaiSP VARCHAR(10) PRIMARY KEY,
    ten NVARCHAR(40),
    ghiChu NVARCHAR(100),
    trangThai INT
);


CREATE TABLE NHACUNGCAP (
    maNCC VARCHAR(10) PRIMARY KEY,
    tenNCC NVARCHAR(40),
    taiKhoan varchar(20),
    tenNganHang varchar(30),
    email NVARCHAR(100),
    ghiChu NVARCHAR(100),
    trangThai INT
);

CREATE TABLE MAUSAC (
    maMau VARCHAR(10) PRIMARY KEY,
    tenMau NVARCHAR(40)
);

CREATE TABLE HINH (
    maHinh VARCHAR(10) PRIMARY KEY,
    duongDanFile NVARCHAR(40)
);


CREATE TABLE SANPHAM (
    maSP VARCHAR(10) PRIMARY KEY,
    moTa NVARCHAR(100),
    ghiChu NVARCHAR(100),
    trangThai INT,
    maNCC VARCHAR(10),
    FOREIGN KEY (maNCC) REFERENCES NHACUNGCAP(maNCC)
);
CREATE TABLE CTSANPHAM (
	maSP VARCHAR(10),
    maMau VARCHAR(10),
    maHinh VARCHAR(10),
    maLoaiSP VARCHAR(10),
    tenSP NVARCHAR(40),
    soLuong INT,
    giaNhap INT,
    giaBan INT,
    ghiChu NVARCHAR(100),
    trangThai INT,
    PRIMARY KEY(maSP,maMau,maHinh,maLoaiSP),
	FOREIGN KEY (maSP) REFERENCES SANPHAM(maSP),
	FOREIGN KEY (maLoaiSP) REFERENCES LOAISP(maLoaiSP),
    FOREIGN KEY (maMau) REFERENCES MAUSAC(maMau),
    FOREIGN KEY (maHinh) REFERENCES HINH(maHinh)
);

CREATE TABLE KHACHHANG (
    maKH VARCHAR(10) PRIMARY KEY,
    hoTen NVARCHAR(40),
    email NVARCHAR(100),
    diaChi NVARCHAR(100),
    dienThoai VARCHAR(15),
    ngSinh DATETIME,
    gioiTinh NVARCHAR(10),
    ghiChu NVARCHAR(100),
    trangThai INT
);

CREATE TABLE NHANVIEN (
    maNV VARCHAR(10) PRIMARY KEY,
    tenDangNhap NVARCHAR(40),
    matKhau NVARCHAR(40),
    hoTen NVARCHAR(40),
    email NVARCHAR(100),
    diaChi NVARCHAR(100),
    dienThoai VARCHAR(15),
    ngSinh DATETIME,
    gioiTinh NVARCHAR(10),
    ghiChu NVARCHAR(100),
    trangThai INT
);

CREATE TABLE HOADONBAN (
    maHD VARCHAR(10) PRIMARY KEY,
    maNV VARCHAR(10),
    maKH VARCHAR(10),
    ghiChu NVARCHAR(100),
    FOREIGN KEY (maNV) REFERENCES NHANVIEN(maNV),
    FOREIGN KEY (maKH) REFERENCES KHACHHANG(maKH)
);

CREATE TABLE HOADONNHAP (
    maHD VARCHAR(10) ,
    maNV VARCHAR(10),
    maNCC VARCHAR(10),
    ghiChu NVARCHAR(100),
    PRIMARY KEY(maHD),
    FOREIGN KEY (maNV) REFERENCES NHANVIEN(maNV),
    FOREIGN KEY (maNCC) REFERENCES NHACUNGCAP(maNCC)
);

CREATE TABLE CTHOADONNHAP (
    maHD VARCHAR(10) PRIMARY KEY,
    ngayNhap DATETIME,
    maSP VARCHAR(10),
    soLuong INT,
    donGia INT,
    tongTien INT,
    ghiChu NVARCHAR(100),
    FOREIGN KEY (maHD) REFERENCES HOADONNHAP(maHD),
    FOREIGN KEY (maSP) REFERENCES SANPHAM(maSP)
);

CREATE TABLE CTHOADONBAN (
	maHD VARCHAR(10) PRIMARY KEY,
    ngayNhap DATETIME,
    maSP VARCHAR(10),
    soLuong INT,
    donGia INT,
    tongTien INT,
    ghiChu NVARCHAR(100),
    FOREIGN KEY (maHD) REFERENCES HOADONBAN(maHD),
    FOREIGN KEY (maSP) REFERENCES SANPHAM(maSP)
);

INSERT INTO MAUSAC VALUES('MS1',N'Đen')
INSERT INTO MAUSAC VALUES('MS2',N'Trắng')
INSERT INTO MAUSAC VALUES('MS3',N'Đỏ')


INSERT INTO HINH VALUES('H01','hinh/hinh1')
INSERT INTO HINH VALUES('H02','hinh/hinh2')
INSERT INTO HINH VALUES('H03','hinh/hinh3')



INSERT INTO NHACUNGCAP VALUES ('NCC1','SAMSUNG','1234563457','SHINHANBANK','samsung@gmail.com','',1)
INSERT INTO NHACUNGCAP VALUES ('NCC2','APPLE','4523675698','TECHCOMBANK','apple@gmail.com','',1)
INSERT INTO NHACUNGCAP VALUES ('NCC3','BPHONE','2347685679','SACOMBANK','bphone@gmail.com','',1)


INSERT INTO LOAISP VALUES ('LSP1',N'Điện thoại tầm trung','',1)
INSERT INTO LOAISP VALUES ('LSP2',N'Điện thoại cao cấp','',1)


INSERT INTO SANPHAM VALUES ('SS01','','',1,'NCC1')
INSERT INTO SANPHAM VALUES ('SS02','','',1,'NCC1')
INSERT INTO SANPHAM VALUES ('AP01','','',1,'NCC2')



INSERT INTO CTSANPHAM VALUES ('SS01','MS1','H01','LSP2','SamSung A52',12,8700000,8900000,'',1)
INSERT INTO CTSANPHAM VALUES ('SS02','MS2','H02','LSP1','SamSung A32',11,4300000,4500000,'',1)
INSERT INTO CTSANPHAM VALUES ('AP01','MS1','H03','LSP2','Iphone SE',15,11700000,12000000,'',1)

INSERT INTO KHACHHANG VALUES ('KH01',N'Nguyễn Văn A',N'P.Hiệp Phú,TP Thủ Đức, Tp Hồ Chí Minh','nguyenvana@gmail.com','03062113xx','1/2/2000',N'Nam','',1)
INSERT INTO KHACHHANG VALUES ('KH02',N'Nguyễn Văn B',N'P.Tăng Nhơn Phú A,TP Thủ Đức, Tp Hồ Chí Minh','nguyenvanb@gmail.com','03062114xx','1/2/1999',N'Nam','',1)
INSERT INTO KHACHHANG VALUES ('KH03',N'Phạm Thị A',N'Gò Vấp, Tp Hồ Chí Minh','phamthia@gmail.com','03062115xx','12/2/2001',N'Nữ','',1)

INSERT INTO NHANVIEN VALUES ('NV01','vohoangvu001','abc123XYZ',N'Võ Hoàng Vũ','vohoangvu@gmail.com',N'P.Hiệp Phú,TP Thủ Đức, Tp Hồ Chí Minh','03062113xx','1/2/2000',N'Nam',N'',1)
INSERT INTO NHANVIEN VALUES ('NV02','dothiha002','567XYZabc',N'Đỗ Thị Hà','dothiha@gmail.com',N'Bến Nghé,Quận 1, Tp Hồ Chí Minh','03062113xx','1/2/2000',N'Nữ',N'',1)


INSERT INTO HOADONBAN VALUES ('HDB1','NV01','KH01',N'Bán ĐT SamSung')
INSERT INTO HOADONBAN VALUES ('HDB2','NV02','KH02',N'Bán ĐT Iphone')
INSERT INTO HOADONBAN VALUES ('HDB3','NV02','KH03',N'Bán ĐT SamSung')


INSERT INTO CTHOADONBAN VALUES ('HDB1','3/19/2022','SS01',2,8900000,17800000,N'Thanh Toán Tiền Mặt')
INSERT INTO CTHOADONBAN VALUES ('HDB2','3/19/2022','SS02',1,4500000,4500000,N'Thanh Toán Tiền Mặt')
INSERT INTO CTHOADONBAN VALUES ('HDB3','3/20/2022','AP01',1,12000000,12000000,N'Thanh Toán Tiền Mặt')

INSERT INTO HOADONNHAP VALUES ('HDN1','NV01','NCC1','NHẬP ĐT SamSung')
INSERT INTO HOADONNHAP VALUES ('HDN2','NV02','NCC2','NHẬP ĐT Iphone')

INSERT INTO CTHOADONNHAP VALUES ('HDN1','3/19/2022','SS01',15,8900000,133500000,N'Thanh Toán Ngân Hàng')
INSERT INTO CTHOADONNHAP VALUES ('HDN2','3/19/2022','AP02',12,32000000,384000000,N'Thanh Toán Ngân Hàng')


